body {
    margin: 0;
    padding: 0;
    background-color: #f8f1f1;
}

#page-content {
  text-align: center;
  margin: 3vh 2vh;
  overflow: hidden;
}

/* -------------------------------- Main Head Images -------------------------------------------------- */

.head-image {
    width: 100%;
    height: auto;
}

#banner_image {
    width: 90%;
    height: auto;
    border-width: 5px;
    border-style: solid;
    border-color: #B69257;
}

/* ------------------------------- Main Heading with Scroll ------------------------------------------------ */

.main-heading h1 {
  font-family: 'Cormorant';
  font-size: 5vh;
  font-variant-caps: petite-caps;
  letter-spacing: 1px;
  margin-bottom: 0.5%;
}

.main-heading img {
  width: 25%;
  margin-bottom: 3%;
  text-align: center;
}

/* ------------------------------ Main Text containing Information ------------------------------------------- */

.main-text {
  padding-left: 12%;
}

.main-text p {
  line-height: 3vh;
  text-align: left;
  width: 80%;
  font-family: 'Yrsa';
  font-size: 2.5vh;
  font-weight: lighter;
  margin: auto 2vh;
}

.main-text img {
  float: left;
  max-width: 30%;
  margin-top: auto;
  margin-right: 3%;

}

.main-text a {
  color: #143c5c;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .main-text p {
        line-height: 2vh;
        text-align: center;
        width: 90%;
        font-family: 'Yrsa';
        font-size: 2.2vh;
        font-weight: lighter;
        margin: auto 0.5vh;
    }

}

/* ------------------------------ Pics on home page ------------------------------------------- */


    .home-link-pics-container {
        display: inline-block;
        position: relative;
        width: 25%;
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin-right: 1%;
        margin-left: 1%;
    }

    .link-image {
        border-width: 5px;
        border-style: solid;
        border-color: #B69257;
        border-radius: 5%;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .home-link-pics-container:hover .link-image {
        opacity: 0.3;
    }

    .home-link-pics-container:hover .middle {
        opacity: 1;
    }

    .link-image-text {
        letter-spacing: 4px;
        font-family: 'Tenali Ramakrishna';
        font-variant-caps: all-small-caps;
        letter-spacing: 1.5px;
        background-color: #B69257;
        color: white;
        padding: 10%;
        text-align: center;
        border-radius: 10px;
        border-color: tan;
        border-style: solid;
        width: 100%;
    }

        .link-image-text:hover {
            background-color: tan;
        }


    /* -------------------------------- Services ---------------------------------------*/
    .services-content {
        width:100%;
    }

    .aboutus_quote {
        display: inline-block;
        width: 100%;
        padding: 2%;
        font-size: 6vh;
        font-family: 'Dancing Script', cursive;
    }

    .below-p {
        display: inline-block;
        width: 80%;
        padding: 2%;
        font-size: 3vh;
        font-family: 'Yrsa';
    }

    .side {
        max-width: 100%;
        padding: 0.5vh 0.5vh;
        display: inline-block;
    }

        .side img {
            margin-left: 6%;
            margin-top: 1vh;
            display: inline-block;
            width: 40%;
            border-radius: 3px;
            border-style: solid;
            border-color: #B69257;
            float:left;
        }

        .side p {
            display: inline-block;
            padding: 5px;
            font-size: 1.5rem;
            width: 35%;
            font-family: 'Yrsa';
            text-align: left;
        }

        .side ul {
            margin: 0 auto;
            display: inline-block;
            list-style-type: square;
            text-align: left;
            font-size: 1.5rem;
            width: 35%;
            font-family: 'Yrsa';
            padding: 5px;
            line-height:3.5vh;
        }

.aboutus-img {
    width: 95%;
    border-radius: 3px;
    border-style: solid;
    border-color: #B69257;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .side {
            flex: 100%;
            max-width: 100%;
        }

            .side p {
                display: flex;
                padding: 5px;
                font-size: 2.1vh;
                width: 90%;
                font-family: 'Yrsa';
                text-align: left;
            }

            .side img {
                margin-left: 0;
                margin-top: 1vh;
                display: flex;
                width: 80%;
                border-radius: 3px;
                border-style: solid;
                border-color: #B69257;
            }

        .side ul {
            display: inline-block;
            list-style-type: square;
            text-align: left;
            font-size: 2.1vh;
            width: 90%;
            font-family: 'Yrsa';
            padding: 5px;
            line-height: 3vh;
        }

        .below-p {
            display: inline-block;
            width: 80%;
            padding: 1%;
            font-size: 2.2vh;
            font-family: 'Yrsa';
        }

    .aboutus-img {
        width: 100%;
        border-radius: 3px;
        border-style: solid;
        border-color: #B69257;
    }

    }

    /* -------------------------------- Navigation Bar ------------------------------------------- */


    /* Place the navbar at the bottom of the page, and make it stick */
    .navbar {
        background-color: #f8f1f1;
        overflow: hidden;
        position: relative;
        width: 105%;
        margin-bottom: auto;
        border-bottom: 3px solid #B69257;
    }

        /* Style the links inside the navigation bar */
        .navbar a {
            text-align: center;
            font-family: 'Gelasio';
            font-size: 4vh;
            letter-spacing: 2px;
            font-variant-caps: all-petite-caps;
            margin: 0;
            text-decoration: none;
            background-color: #f8f1f1;
            color: black;
            display: inline-block;
            padding: 1.5vh 2vh;
            transition: all 0.3s ease;
        }

            /* Change the color of links on hover */
            .navbar a:hover {
                background-color: #c6b497;
                cursor: pointer;
                transition: 0.8s;
            }

        /* Hide the link that should open and close the navbar on small screens */
        .navbar .icon {
            display: none;
        }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
    @media screen and (max-width: 1000px) {
        .navbar a:not(:first-child) {
            display: none;
        }

        .navbar a.icon {
            float: left;
            display: block;
        }
    }

    /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 1000px) {
        .navbar.responsive a.icon {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .navbar.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    /*------------------------------------------- Gallery Image Rows and Columns ----------------------------------------*/

    #gallery-images {
        margin: auto auto;
        width: 100%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 1vh 1vh;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 80%;
        max-width: 23.5%;
        padding: 1vh 1vh;
    }

        .column img {
            margin-top: 1vh;
            vertical-align: middle;
            width: 100%;
            border-radius: 3px;
            border-style: solid;
            border-color: #B69257;
        }

    .gallery_quote {
        padding-left: 2%;
        font-size: 3vh;
        font-family: 'Dancing Script', cursive;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 1000px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }


    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 1500px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }


        .gallery_quote {
            padding-left: 2%;
            font-size: 2.5vh;
            font-family: 'Dancing Script', cursive;
        }
    }



    /*-------------------------------------------Team Member and Information ----------------------------------------*/

    .team-image {
        vertical-align: top;
        margin: 0 auto;
        display: block;
        max-width: 65%;
        border-radius: 50%;
        border-style: solid;
        border-color: #B69257;
    }

    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
    @media screen and (min-width: 1001px) {
        div.team-member p {
            font-family: 'Yrsa';
            font-size: 2.2vh;
        }

        div.team-member h1 {
            font-size: 2.5vh;
            font-family: 'Gelasio';
            font-weight: lighter;
            font-variant-caps: small-caps;
            letter-spacing: 0.5px;
        }

        div.team-member {
            margin: 0 auto;
            padding: 0.5% 0.5%;
            max-width: 22%;
            height: auto;
            display: inline-block;
        }
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @media screen and (max-width: 1000px) {
        .team-member p {
            font-size: 2.2vh;
            font-family: 'Yrsa';
        }

        .team-member h1 {
            font-size: 2.5vh;
            font-family: 'Gelasio';
            font-weight: lighter;
            font-variant-caps: small-caps;
            letter-spacing: 0.5px;
        }

        .team-member {
            margin: 0 auto;
            margin-bottom: 0.5%;
            padding: 0.5% 0.5%;
            max-width: 70%;
            height: auto;
            display: inline-block;
        }
    }


    /*------------------------------------------- Contact Form ----------------------------------------*/

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        position: relative;
        width: 80%; /* Full width */
        padding: 1.0rem; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: none;
        font-family: 'Tenali Ramakrishna';
        letter-spacing: 1.5px;
        font-size: 0.8rem;
    }

    input[type=email] {
        position: relative;
        width: 80%; /* Full width */
        padding: 1.0rem; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        font-family: 'Tenali Ramakrishna';
        letter-spacing: 1.5px;
        font-size: 0.8rem;
    }

    input[type=submit] {
        background-color: #B69257;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Tenali Ramakrishna';
        font-variant-caps: petite-caps;
        letter-spacing: 1.8px;
        font-size: 1.1rem;
    }

        input[type=submit]:hover {
            background-color: tan;
        }

    .contact-info {
        width: 30%;
        display: inline-block;
        margin: 0 auto;
        padding: 0 5%;
        vertical-align: top;
    }

        .contact-info img {
            width: 90%;
            border-radius: 10px;
            border-style: solid;
            border-color: #B69257;
        }

        .contact-info p {
            text-align: center;
            font-family: 'Yrsa';
            font-size: 1.1rem;
        }

        .contact-info h1 {
            font-family: 'Yrsa';
            font-size: 1.5rem;
            letter-spacing: 1px;
        }

    .contact-form {
        border: 1.5px;
        border-style: solid;
        border-color: #B69257;
        border-radius: 15px 15px 15px 15px;
        padding: 3vh 3vh;
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }

    @media screen and (max-width: 1000px) {
        .contact-form {
            flex: 100%;
            max-width: 100%;
            width: 85%;
        }

        .contact-info {
            width: 90%;
        }

            .contact-info img {
                width: 90%;
            }

            .contact-info p {
                font-size: 2.2vh;
            }

            .contact-info h1 {
                font-size: 2.5vh;
            }

        input[type=text], select, textarea {
            position: relative;
            width: 90%;
            padding: 0.5rem;
            letter-spacing: 3px;
            font-size: 2vh;
        }

        input[type=email] {
            position: relative;
            width: 90%;
            padding: 0.5rem;
            letter-spacing: 3px;
            font-size: 2vh;
        }

        input[type=submit] {
            padding: 8px 12px;
            letter-spacing: 3px;
            font-size: 2vh;
        }
    }


    /*------------------------------------------- Upcoming events ----------------------------------------*/

    .events-img {
        width: 90%;
        border-radius: 10px;
        border-style: solid;
        border-color: #B69257;
    }

    .events-par {
        text-align: center;
        font-family: 'Yrsa';
        font-size: 2.2vh;
    }

    @media screen and (max-width: 1000px) {
        .events-par {
            text-align: center;
            font-family: 'Yrsa';
            font-size: 2vh;
        }
    }


    /*------------------------------------------- Newsletter ----------------------------------------*/

    .NewsLetter-img {
        width: 30%;
        border-radius: 10px;
        border-style: solid;
        border-color: #B69257;
        display: inline-block;
        margin: 0 2rem;
        vertical-align: middle;
        display: inline-block;
    }

    .news-content {
        text-align: left;
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

        .news-content p {
            text-align: left;
            font-family: 'Yrsa';
            font-size: 2.2vh;
            vertical-align: top;
        }

        .news-content h1 {
            font-family: 'Gelasio';
            font-size: 2.5vh;
            letter-spacing: 2px;
            margin: 1%;
        }

    @media screen and (max-width: 1100px) {

        div.news-content {
            flex: 100%;
            max-width: 100%;
            width: 80%;
        }

            div.news-content h1 {
                font-family: 'Gelasio';
                font-size: 2.5vh;
                letter-spacing: 2px;
            }

        .news-content p {
            font-size: 2.2vh;
            width: 100%;
        }

        .NewsLetter-img {
            width: 80%;
        }
    }



    /* ----------------------------------- Footer contain Social Tags ------------------------------------------ */

    .social-footer {
        background-color: #143c5c;
        margin: 0;
        padding: 0;
        margin-top: 2vh;
    }

    .social-text {
        margin: 0;
        padding: 0 10px;
        vertical-align: middle;
        text-align: center;
        color: rgb(241, 249, 249);
        display: inline-block;
        font-size: 2rem;
        font-family: 'Tenali Ramakrishna';
        letter-spacing: 2px;
    }

    .social-tag {
        margin: 0;
        padding: 0.3rem;
        vertical-align: middle;
        color: rgb(241, 249, 249);
        font-size: 2rem;
    }

    @media screen and (max-width: 1000px) {
        .social-footer {
            background-color: #143c5c;
            margin: 0;
            padding: 0;
            margin-top: 2vh;
            width:105%;
        }

        .social-text {
            margin: 0 auto;
            padding: 0.5rem;
            vertical-align: middle;
            text-align: center;
            color: rgb(241, 249, 249);
            display: inline-block;
            font-size: 2.2vh;
            font-family: 'Tenali Ramakrishna';
            letter-spacing: 3px;
        }

        .social-tag {
            margin: 0 auto;
            vertical-align: middle;
            padding: 0.5vh;
            color: rgb(241, 249, 249);
            font-size: 2vh;
        }
    }

    /* -------------------------------- Footer containing contact and address ----------------------------------- */

    .info-footer {
        background-color: #d2c8c8;
        width: 100%;
        font-size: 2vh;
        color: black;
        text-align: center;
        font-family: 'Yrsa';
        line-height: 2vh;
    }

        .info-footer h1 {
            font-size: 3.5vh;
            font-family: 'Tenali Ramakrishna';
            font-variant-caps: all-small-caps;
            letter-spacing: 3px;
        }

        .info-footer a {
            font-weight: lighter;
            font-family: 'Yrsa';
            text-decoration: none;
            color: black;
            font-variant-caps: normal;
        }

        .info-footer i {
            color: black;
        }

        .info-footer hr {
            width: 70%;
            border-style: solid;
            color: rgba(0, 0, 0, 0.5);
            margin-top: -1em;
            margin-bottom: 1em;
        }

    .info-footer-logo {
        display: block;
        vertical-align: top;
        background-color: #d2c8c8;
        width: 30%;
        height: auto;
        margin: 0 auto;
    }

    .info-footer-address {
        display: inline-block;
        vertical-align: top;
        background-color: #d2c8c8;
        width: 35%;
        height: 100%;
        margin: 0 auto;
        padding: 0.5vh;
        padding-left: 2rem;
        text-align: left;
    }

    .info-footer-contact {
        display: inline-block;
        vertical-align: top;
        padding: 0.5vh;
        background-color: #d2c8c8;
        width: 35%;
        height: 100%;
        margin: 0 auto;
        padding-left: 2rem;
        text-align: left;
    }

    #footer-logo {
        display: block;
        vertical-align: middle;
        margin: auto auto;
        padding: 2vh;
        max-width: 45%;
    }

    @media screen and (max-width: 1000px) {
        .info-footer {
            background-color: #d2c8c8;
            width: 105%;
            color: black;
            text-align: center;
            font-family: 'Yrsa';
        }

        .info-footer-contact {
            width: 45%;
        }

            .info-footer-contact p {
                font-size: 1.5vh;
                line-height: 1vh;
            }

            .info-footer-contact h1 {
                font-size: 2.5vh;
            }

            .info-footer-contact hr {
                width: 70%;
                border-style: solid;
                color: rgba(0, 0, 0, 0.5);
            }

        .info-footer-address {
            width: 45%;
        }

            .info-footer-address p {
                font-size: 1.5vh;
                line-height: 1vh;
            }

            .info-footer-address h1 {
                font-size: 2.5vh;
            }

            .info-footer-address hr {
                width: 70%;
                border-style: solid;
                color: rgba(0, 0, 0, 0.5);
            }
    }

    /* ------------------------------------ Footer containing copyright ------------------------------------------- */

    .bottom-footer {
        background-color: #143c5c;
        margin: 0;
        padding: 2vh 0;
        font-size: 2vh;
        color: white;
        text-align: center;
        overflow: auto;
        font-family: 'Yrsa';
    }

    @media screen and (max-width: 1000px) {
        .bottom-footer {
            font-size: 2vh;
            width: 105%;
        }
    }
